@tailwind base;
@tailwind components;
@tailwind utilities;

.error-message {
  color: red;
}

body {
  background-color: #ecf0f1;
  color: black;
  transition: background-color 0.3s, color 0.3s;
  font-family: "Poppins", sans-serif;
}

.dark body {
  background-color: #121212;
  color: white;
}

a {
  text-align: center;
}
