#title {
  padding: 2%;
  border-radius: 10px;
  background-color: #FFFFFF;
  border: 1px solid #ccc;
}

#gender {
  padding: 2%;
  border-radius: 10px;
  background-color: #FFFFFF;
  border: 1px solid #ccc;
}
